[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains.git
[submodule "magnum-integration"]
	path = magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
